@import "icomoon.css";

body {
    /*background: #ebe9e9;*/
}

.dark-container-wrapper {
    /*background: #ebe9e9;*/
}

.dark-header-inside {
    position: inherit;
    margin-bottom: 0;
    background: #000;
    z-index: 6;
}

.dark-navbar-brand {
    position: absolute;
    z-index: 1;
    margin-left: 50px;
}

.dark-section {
    padding: 0;
}

.dark-sidebar {
    width: 230px;
}

.artist-dark-sidebar {
    position: absolute;
    float: left;
}

.artist-dark-sidebar-inherit {
    position: inherit;
}

.dark-sidebar hr {
    border-top: 1px solid #444;
}

.dark-sidebar-container {
    padding-left: 40px;
}

.dark-sidebar-container {
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.dark-sidebar-container-microphone {
    padding: 13px 0 15px 40px;
    background: #444;
}

.dark-sidebar-nav {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.dark-genres-link-wrapper a {
    text-decoration: none;
    padding: 1px 5px;
}

.dark-genres-link-wrapper a.active,
.dark-genres-link-wrapper a:focus,
.dark-genres-link-wrapper a:hover {
    color: inherit;
    background: #ff6666;
}

.dark-genres-link-wrapper-money a.active,
.dark-genres-link-wrapper-money a:focus,
.dark-genres-link-wrapper-money a:hover {
    background: #51b7ba;
}
.dark-genres-link-wrapper a:focus,
.dark-genres-link-wrapper-money a:focus {
    background: inherit;
}

.dark-genres-sidebar-header {
    margin-top: 1em;
    padding-left: 5px;
    margin-left: -10px;
    margin-bottom: 10px;
    line-height: 1em;
}

.dark-genres-sidebar-header .fa {
    position: relative;
    top: -1em;
    color: #51b7ba;
}

.dark-genres-sidebar-header-microphone {
    line-height: 1.4em;
}

.dark-genres-sidebar-header-microphone .fa {
    top: -1.4em;
}

.dark-genres-sidebar-header-text {
    display: inline-block;
}

.dark-genres-sidebar-header-text a,
.dark-genres-sidebar-header-text a:hover {
    color: #fff;
    text-decoration: none;
}

.dark-container {

}

.dark-container-wrapper {
    color: #000;
    padding: 20px 20px 0 250px;
    position: relative;
}

#myCarousel {
    min-height: 300px;
    width: 100%;
    background: #f7f7f7;
}

.dark-container-wrapper .carousel-inner>.item {
    min-height: 300px;
}

.dark-artist-image img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
}

.dark-container-wrapper .carousel-control {
    width: 5%;
    background: none;
}

.dark-slider-item {
    padding-top: 30px;
    padding-bottom: 20px;
    cursor: pointer;
}

.dark-slider-item .dark-slider-item-container {
    padding-top: 60px;
    padding-bottom: 20px;
}

.dark-slider-item:not(:last-child) .dark-slider-item-container {
    border-right: 1px solid #eaeaea;
}

.dark-carousel-header {
    position: absolute;
    top: 5px;
    left: 20px;
    color: #000;
    font-weight: bold;
}

.dark-container-fluid {
    padding: 0 20px 20px 250px;
}

.dark-filtered-artists-wrapper {
    position: relative;
    background: #fff;
}

.dark-filtered-artists-wrapper  .pagination> li:first-child {
    display: none;
}

.dark-filtered-artists-wrapper  .pagination> li:last-child a {
    margin-left: -13px;
}

/*.dark-filtered-artists-wrapper  .pagination> li:last-child {
    position: relative;
    color: #fff;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.dark-filtered-artists-wrapper  .pagination> li:last-child:before {
    content: "\f105";
    position: absolute;
    left: 0;
    color: #aeaeae;
}*/

.dark-filtered-artists-wrapper  .pagination> li > a,
.dark-filtered-artists-wrapper  .pagination> li span {
    line-height: 1em;
    padding: 0 12px;
    border: none;
    background: none;
    color: #aeaeae;
}

.dark-filtered-artists-wrapper  .pagination> li > a:hover,
.dark-filtered-artists-wrapper  .pagination> li.active > span {
    color: #000;
    background: none;
}

.dark-filtered-artists-wrapper  .pagination> li:not(:nth-last-child(-n+2)):not(:first-child) > a,
.dark-filtered-artists-wrapper  .pagination> li.active:not(:nth-last-child(-n+2)):not(:first-child) > span {
    border-right: 1px solid;
}

.dark-pagination-block {
    padding-right: 30px;
}

.dark-cell-caption {
    min-height: 60px;
}

.filtered-results-header {
    font-weight: bold;
}
#imaginary_container input{
    border-bottom: 3px solid #f36265;
}
#imaginary_container span{
    background: #f36265;
    color: #fff;
}

.artist_search{
    max-height: 200px;
    overflow-y:scroll;
    width:100%;
    z-index: 999;
    background:white;
    padding: 0px 10px;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0,0,0,.175);
    -moz-box-shadow: 0 0.5rem 1rem rgba(0,0,0,.175);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.175);
}
/**
@ MEDIA
 */

@media (min-width: 1200px) {
    .dark-filtered-artists-wrapper {
        /*min-height: 950px;*/
    }
}


@media (max-width: 768px) {
    .dark-sidebar:not(.artist-dark-sidebar) {
        margin-bottom: 0;
        display: none;
    }
}

@media (max-width: 767px) {
    .dark-sidebar {
        margin-bottom: 50px;
        width: 100%;
    }

    .dark-container-wrapper,
    .dark-container-fluid {
        padding: 0;
    }

    .dark-container-wrapper .carousel-control {
        width: 15%;
    }
}

@media (max-width: 991px) {
    .dark-container-wrapper.dark-container-wrapper-public,
    .dark-container-fluid.dark-container-fluid-public {
        padding: 0;
    }
}

@media (max-width: 480px) {
    .col-xs-6 {
        width: 50%;
    }

    .dark-pagination-block {
        padding: inherit;
        text-align: center;
    }

    .dark-navbar-collapse {
        margin-top: 20px;
        margin-bottom: -30px;
    }

    .dark-slider-item .dark-slider-item-container {
        padding-top: 20px;
    }

    .dark-carousel-header {
        top: -10px;
    }

    .filtered-results-header {
        top: -10px;
    }

    /*.dark-slider-item {
        margin-bottom: 0;
    }*/
    .dark-cell-caption {
        font-size: 0.7em;
    }

    .dark-slider-item {
        padding-top: 30px;
        padding-bottom: 5px;
    }

    .dark-slider-item .dark-slider-item-container {
        padding-bottom: 0;
    }

    .dark-cell-caption {
        min-height: 40px;
    }

    .dark-header-inside2 {
        padding: 0;
    }
    .dark-artist-image img {
        width: 7em;
        height: 7em;
    }
}

.genre-tooltip {
    position: absolute;
    width: 280px;
    left: 150px;
    top: 80px;
    padding: 6px 10px;
    font-size: 0.8em;
    color: #000;
    background: #fff;
    box-shadow: 0 0 10px #666;
}

.genre-tooltip .genre-tooltip-info {
    color: #25b7bb;
}
.genre-tooltip .fa-times {
    cursor: pointer;
}

.artist-cell-genre {
    padding: 4px 10px;
    color: #fff;
    margin-right: 2px;
    margin-bottom: 2px;
    background: #ff6666;
}

.artist-genres-list {
    line-height: 2em;
}

.location-dropdown:hover {
    cursor: pointer;
}

#mainSearch{
    position: relative;

}

#searchResponse{
    position: absolute;
    list-style: none;
}
.searchItems a{
    text-decoration: none;

    margin-bottom: 7px;
}
