@import "icomoon.css";

.events-modal-dialog {
    margin: 0;
    width: 100%;
    height: 100%;
    /*border: 1px solid red;*/
    box-sizing: border-box;
}

.modal-slide-trigger {
    cursor: pointer;
}

.modal-slide-trigger img  {
    width: 100%;
}

.events-modal-content {
    height: 100%;
    background: none;
}

.events-modal-content  .modal-body {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 80%;
}

.events-modal-content  .preview {
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translate(-50%);
    bottom: 2em;
}

.events-modal-content  .slide-main .photo,
.events-modal-content  .slide-main .slide-article,
.events-modal-content  .slide-main iframe {
    width: 50vw;
    height: 70vh;
    overflow-y: auto;
}

.events-modal-content  .slide-main .slide-article {
    height: 70vh;
}

.events-modal-content  .slide-main .slide-article {
    background: #fff;
}

.events-modal-content  .slide-main .slide-article .slide-article-text-wrapper {
    padding: 30px;
}

.slide-preview-img {
    max-height: 10vh;
}

.slide-article img.events-article,
.slide-article iframe {
    max-width: 100%;
    margin: 0 auto;
}

.slide-preview-video {
    position: relative;
}

.slide-preview-text .fa,
.slide-preview-video .fa {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.preview .slide-preview-video .fa {
    font-size: 2em;
    text-shadow: 0 0 8px rgba(255, 255, 255, 1)
}

/*.slide-arrows {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}*/

.slick-prev {
    left: -10vh;
}

.slick-next {
    right: -10vh;
    transform: translate(-120%, 0);
}

.slick-prev:before, .slick-next:before {
    font-family: 'icomoon' !important;
    font-size: 50px;
}

.events-modal-close {
    position: absolute;
    right: 4em;
    top: 2em;
    font-size: 1.4em;
    cursor: pointer;
    color: #fff;
}

.subscribe-respond-message {
    min-height: 55px;
    text-shadow: 1px 1px 1px black;
    font-size: 1.4em;
}

.subscribe-respond-message.text-success {
    color: #ff6666;

}

.subscribe-respond-message.text-danger {
    color: red;
}

.mobile-video-vanderbilt {
    height: 50vh;
}

.mobile-video-vanderbilt iframe {
    height: 100%;
    width: 100%;
}