@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?fewtwewf');
    src:  url('fonts/icomoon.eot?fewtwewf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fewtwewf') format('truetype'),
    url('fonts/icomoon.woff?fewtwewf') format('woff'),
    url('fonts/icomoon.svg?fewtwewf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icomoon-icon-"], [class*=" icomoon-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icomoon-icon-play-button:before {
    content: "\e900" !important;
}
.icomoon-icon-microphone:before {
    content: "\e901" !important;
}
.icomoon-icon-circle-right:before {
    content: "\ea42" !important;
}
.icomoon-icon-circle-left:before {
    content: "\ea44" !important;
}