@charset "UTF-8";
/* CSS Document */

body {
	color:#00;
	font-family: 'Lato', sans-serif;
	xfont-weight:100 !important;
}

body#home {
  xoverflow-y:hidden;
  overflow-x:hidden;
}

li {
	padding: 5px;
}

@font-family {
	
}	

#home_header {
	padding:15px 25px 15px 70px;
	background-color:#7accc8;
	margin:0px;
	margin-bottom:85px;
}

#home_header img#logo {
	width:187px;	
	float:left;
}

#home_header #login {
	margin-top:22px;	
}

#home_header #login button {
	color:#000;	
}

#home_header #profile {
	margin:6px 0px 0px;
}

#home_header ul li {
	font-size:1.5em;	
}

#home_header ul li.divider,
#home_header ul li:last-child a.dropdown-toggle {
	color:#f2f0bf;
	font-size:1.7em;
}

#home_header .dropdown-menu {
	background:#7accc8;
	border-radius:0px;
	border-color:#f2f0bf;	
}

#home_header .dropdown-menu a,
#home_header .dropdown-menu a:hover,
#home_header .dropdown-menu a:focus {
	color:#f2f0bf;
	background:#7accc8;	
}

#home_header ul li:last-child a.dropdown-toggle .glyphicon {
	top:9px;	
}

#home_CTA {
	
  background-image: url(//images/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
}

#home_CTA h1 {
	font-size:8.571em;
	font-weight:100 !important;
	margin-top:145px;
}

#home_CTA a {
	font-size:2.278em;
	margin-top:100px;	
}

#main_content {
	margin-top:106px;	
}

/* Filters */

#filters {
	background:#4c505e;	
	color:#FFF;
	min-height:1000px;
}

/* Artists */
#artists {
	padding:25px 40px;
}

#artists .tile .panel {
	border:1px solid #7accc8;
	border-radius:0px;
	display:table;
}

#artists .tile .panel .panel-body {
	padding:20px 35px;	
	height:500px;
	display:table-cell;
	vertical-align:middle;
}

#artists .tile img {
	max-height:274px;
	max-height:274px;
}

#artists .tile .artist_name {
	font-size:2em;
	margin-top:5px;
	margin-bottom:15px;
}

#artists .tile .panel .panel-body ul {
	margin:0px;	
}

#artists .tile ul li {
	font-size:1.4em;	
}

#artists .tile .price {
	color:#82ca9c;	
}

#artists .tile .mood {
	color:#fdc689;	
}

/* Lightbox */


.modal-content {
	border-radius:0px;	
}

.modal-header .close {
	color:white;
	font-size:4em;	
}

/* Artist Lightbox */

#artist_lb .modal-content {
	background-image:url(//images/10387239_760723080650655_5527110678547691487_n.jpg);
	background-size:100%;
}

#artist_lb .modal-header {
	background: -moz-linear-gradient(top,  rgba(69,72,77,0.6) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,0.6)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
	
	background: -webkit-linear-gradient(top,  rgba(69,72,77,0.6) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
	
	background: -o-linear-gradient(top,  rgba(69,72,77,0.6) 0%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
	
	background: -ms-linear-gradient(top,  rgba(69,72,77,0.6) 0%,rgba(0,0,0,0.6) 100%); /* IE10+ */
	
	background: linear-gradient(to bottom,  rgba(69,72,77,0.6) 0%,rgba(0,0,0,0.6) 100%); /* W3C */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9945484d', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */	
	padding-bottom:0px;
	color:#FFF;
}

#artist_lb .modal-body,
#artist_lb .modal-footer {
	background:#eaeaea;	
}

#artist_lb .modal-body {
	height:425px;
	overflow-y:auto;	
}

#artist_lb .genre_mood {
	padding:15px 0px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.6)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
	
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
	
	background: -o-linear-gradient(top,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
	
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.8) 100%); /* IE10+ */
	
	background: linear-gradient(to bottom,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.8) 100%); /* W3C */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
}

#artist_lb .genre_mood ul {
	xmargin-top:7px;
	margin-bottom:-15px;
}

#artist_lb .genre_mood .pull-right ul li:first-child {
	position:relative;
	bottom:15px;
	
}

#artist_lb .genre_mood ul form,
#artist_lb .genre_mood ul form label {
	margin:0px;	
}

#artist_lb .genre_mood ul li span {
	text-transform:capitalize;
	color:#aab1ad;
}

#artist_lb .genre_mood .close {
	opacity:1;
	font-size:1em;
	text-shadow:none;	
}

#artist_lb .band_info ul li span.member_name {
	font-weight:bold;
	display:block;	
}
#artist_lb .band_info ul:last-child {
	text-transform:uppercase;	
}
#artist_lb .band_info ul:last-child span {
	text-transform:none;	
}

/* Booking Lightbox */

#booking .modal-content {
	xbackground:url(//images/koa_2.png) no-repeat;
	background-size:100%;
	background-position:center 515px;	
}

#booking .modal-header {
	background:#7accc8;	
	height:62px;
	padding:10px 15px;
	border:none;
}

#booking .modal-header .close {
	background:#7accc8;	
	line-height:.7;
}

#booking .modal-body {
	background:#FFF;	
}

#booking_grid>.col-md-12 {
	padding-left:30px;
	padding-right:30px;	
}

#booking_grid .row:first-child .col-md-4 {
	border-bottom:1px solid #000;
}

#booking_grid .row .col-md-4>div {
	cursor:pointer;	
}

#booking_grid .col-md-4 {
	border-right:1px solid #000;	
	padding-top:25px;
	padding-bottom:25px;
	display:table;
}

#booking_grid .row .col-md-4:last-child {
	border-right:none;	
}

#booking_grid .col-md-4>div {
	display:table-cell;
	vertical-align:middle;
	height:185px;
}

#booking_grid a:hover {
	text-decoration:none;	
}

#booking_grid a .glyphicon {
	font-size:7em;	
}

#booking_grid a p {
	font-size:2em;
	color:#333;	
}

#booking .modal-footer {
	border:none;	
	background: -moz-linear-gradient(top,  rgba(69,72,77,0.6) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,0.6)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
	
	background: -webkit-linear-gradient(top,  rgba(69,72,77,0.6) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
	
	background: -o-linear-gradient(top,  rgba(69,72,77,0.6) 0%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
	
	background: -ms-linear-gradient(top,  rgba(69,72,77,0.6) 0%,rgba(0,0,0,0.6) 100%); /* IE10+ */
	
	background: linear-gradient(to bottom,  rgba(69,72,77,0.6) 0%,rgba(0,0,0,0.6) 100%); /* W3C */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9945484d', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */
	text-align:center;	
	height:290px;	
}

#booking .modal-footer a {
	margin-top:100px;
	font-size:3em;
	float:inherit;
	opacity:1;
	color:#FFF;
	text-shadow:none;	
}

.col-md-12>form
{
    display:none;
}

@media screen and (min-width: 991px) {
	.modal-dialog {
		width:85%;	
	}
}	

	

