/* 
	Table of Contents
	update on Tue Aug 11 2015 11:11:02 GMT+0300 (FLE Summer Time)

	I.   Generic --------------------------------------
	     01. Reset ------------------------------------
	     02. Fonts ------------------------------------
	     03. Base -------------------------------------
	     04. Helpers ----------------------------------
	         Clear ------------------------------------
	         Notext -----------------------------------
	         Hidden -----------------------------------
	         Alignleft --------------------------------
	         Alignright -------------------------------
	         Disabled ---------------------------------
	II.  Regions --------------------------------------
	     01. Wrapper ----------------------------------
	     02. Container --------------------------------
	     03. Header -----------------------------------
	     04. Main -------------------------------------
	     05. Footer -----------------------------------
	     06. Content ----------------------------------
	     07. Sidebar ----------------------------------
	III. Themes ---------------------------------------
	         Overlay style ----------------------------
	         Overlay closing cross --------------------
	         Menu style -------------------------------
	         Effects ----------------------------------
	     01. Datepicker -------------------------------
	IV.  Modules --------------------------------------
	     01. Account ----------------------------------
	     02. Article ----------------------------------
	     03. Artist -----------------------------------
	     04. Box --------------------------------------
	     05. Button -----------------------------------
	         Mobile -----------------------------------
	     06. Events -----------------------------------
	     07. Event Detail -----------------------------
	     08. Event Boxes ------------------------------
	     09. Filter -----------------------------------
	     10. Form Elements ----------------------------
	     11. File Upload ------------------------------
	     12. Radios -----------------------------------
	     13. Form Seach -------------------------------
	     14. Form Login -------------------------------
	     15. Form Apply -------------------------------
	     16. Form Account -----------------------------
	     17. Form Card --------------------------------
	     18. Form Alt ---------------------------------
	     19. Form Event -------------------------------
	     20. Form Disabled ----------------------------
	     21. Form Past --------------------------------
	     22. Fullsize ---------------------------------
	     23. Intro ------------------------------------
	     24. Intro Landing ----------------------------
	     25. Intro About ------------------------------
	     26. Intro Sky --------------------------------
	     27. Intro Events -----------------------------
	     28. Intro Faq --------------------------------
	     29. List -------------------------------------
	     30. List Partners ----------------------------
	     31. LIst Tags --------------------------------
	     32. List Details -----------------------------
	     33. List Videos ------------------------------
	     34. List Event Details -----------------------
	     35. List Bands -------------------------------
	     36. Modal ------------------------------------
	     37. Nav --------------------------------------
	     38. Pulses -----------------------------------
	     39. Search -----------------------------------
	     40. Section ----------------------------------
	     41. Section Sign -----------------------------
	     42. Section Testimonials ---------------------
	     43. Section Sky ------------------------------
	     44. Section Callout --------------------------
	     45. Section Partners -------------------------
	     46. Section Apply ----------------------------
	     47. Section Artists  -------------------------
	     48. Section Events ---------------------------
	     49. Slider -----------------------------------
	     50. Socials ----------------------------------
	     51. Socials Blocks ---------------------------
	     52. Tabs -------------------------------------
	     53. Table ------------------------------------
	     54. Testimonials -----------------------------
	     55. Tweets -----------------------------------
	     56. User -------------------------------------
	     57. Widget -----------------------------------
 */

.ico-block-dark { background-image: url(/images/sprite.png); background-position: -174px -150px; width: 18px; height: 18px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-block { background-image: url(/images/sprite.png); background-position: -77px -150px; width: 22px; height: 22px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-bubble-dark { background-image: url(/images/sprite.png); background-position: -127px -150px; width: 20px; height: 19px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-bubble { background-image: url(/images/sprite.png); background-position: -110px -90px; width: 24px; height: 23px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-calendar { background-image: url(/images/sprite.png); background-position: -163px -44px; width: 36px; height: 32px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-cam { background-image: url(/images/sprite.png); background-position: 0 -90px; width: 56px; height: 56px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-facebook-large { background-image: url(/images/sprite.png); background-position: -124px -41px; width: 20px; height: 42px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-facebook { background-image: url(/images/sprite.png); background-position: -191px -116px; width: 11px; height: 21px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-google { background-image: url(/images/sprite.png); background-position: -23px -150px; width: 23px; height: 23px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-heart-dark { background-image: url(/images/sprite.png); background-position: -151px -150px; width: 19px; height: 19px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-heart { background-image: url(/images/sprite.png); background-position: -163px -116px; width: 24px; height: 24px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-instagram { background-image: url(/images/sprite.png); background-position: -50px -150px; width: 23px; height: 23px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-note { background-image: url(/images/sprite.png); background-position: 0 -150px; width: 19px; height: 28px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-past { background-image: url(/images/sprite.png); background-position: -163px -80px; width: 36px; height: 32px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-pencil { background-image: url(/images/sprite.png); background-position: -103px -150px; width: 20px; height: 20px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-play { background-image: url(/images/sprite.png); background-position: 0 0; width: 64px; height: 86px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-plus { background-image: url(/images/sprite.png); background-position: -163px 0; width: 40px; height: 40px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-twitter-large { background-image: url(/images/sprite.png); background-position: -60px -90px; width: 46px; height: 38px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-twitter-logo { background-image: url(/images/sprite.png); background-position: -68px -41px; width: 52px; height: 42px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-twitter { background-image: url(/images/sprite.png); background-position: -138px -90px; width: 20px; height: 21px; display: inline-block; vertical-align: middle; font-size: 0; }
.ico-youtube-logo { background-image: url(/images/sprite.png); background-position: -68px 0; width: 91px; height: 37px; display: inline-block; vertical-align: middle; font-size: 0; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.ico-block-dark { background-image: url(/images/sprite.@2x.png); background-position: -157px -145.5px; background-size: 198.5px 173.5px; width: 18px; height: 18px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-block { background-image: url(/images/sprite.@2x.png); background-position: -46px -145.5px; background-size: 198.5px 173.5px; width: 22px; height: 22px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-bubble-dark { background-image: url(/images/sprite.@2x.png); background-position: -114px -145.5px; background-size: 198.5px 173.5px; width: 20px; height: 19px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-bubble { background-image: url(/images/sprite.@2x.png); background-position: -105.5px -88px; background-size: 198.5px 173.5px; width: 24px; height: 23px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-calendar { background-image: url(/images/sprite.@2x.png); background-position: -158.5px -42px; background-size: 198.5px 173.5px; width: 36px; height: 32px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-cam { background-image: url(/images/sprite.@2x.png); background-position: 0 -88px; background-size: 198.5px 173.5px; width: 55.5px; height: 55.5px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-facebook-large { background-image: url(/images/sprite.@2x.png); background-position: -119px -38.5px; background-size: 198.5px 173.5px; width: 20px; height: 42px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-facebook { background-image: url(/images/sprite.@2x.png); background-position: -184.5px -110px; background-size: 198.5px 173.5px; width: 10.5px; height: 20.5px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-google { background-image: url(/images/sprite.@2x.png); background-position: -131.5px -88px; background-size: 198.5px 173.5px; width: 23px; height: 22.5px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-heart-dark { background-image: url(/images/sprite.@2x.png); background-position: -136px -145.5px; background-size: 198.5px 173.5px; width: 19px; height: 19px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-heart { background-image: url(/images/sprite.@2x.png); background-position: -158.5px -110px; background-size: 198.5px 173.5px; width: 24px; height: 24px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-instagram { background-image: url(/images/sprite.@2x.png); background-position: -21px -145.5px; background-size: 198.5px 173.5px; width: 23px; height: 22.5px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-note { background-image: url(/images/sprite.@2x.png); background-position: 0 -145.5px; background-size: 198.5px 173.5px; width: 19px; height: 28px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-past { background-image: url(/images/sprite.@2x.png); background-position: -158.5px -76px; background-size: 198.5px 173.5px; width: 36px; height: 32px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-pencil { background-image: url(/images/sprite.@2x.png); background-position: -92px -145.5px; background-size: 198.5px 173.5px; width: 20px; height: 20px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-play { background-image: url(/images/sprite.@2x.png); background-position: 0 0; background-size: 198.5px 173.5px; width: 63.5px; height: 86px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-plus { background-image: url(/images/sprite.@2x.png); background-position: -158.5px 0; background-size: 198.5px 173.5px; width: 40px; height: 40px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-twitter-large { background-image: url(/images/sprite.@2x.png); background-position: -57.5px -88px; background-size: 198.5px 173.5px; width: 46px; height: 37.5px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-twitter-logo { background-image: url(/images/sprite.@2x.png); background-position: -65.5px -38.5px; background-size: 198.5px 173.5px; width: 51.5px; height: 42px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-twitter { background-image: url(/images/sprite.@2x.png); background-position: -70px -145.5px; background-size: 198.5px 173.5px; width: 20px; height: 20.5px; display: inline-block; vertical-align: middle; font-size: 0; }
	.ico-youtube-logo { background-image: url(/images/sprite.@2x.png); background-position: -65.5px 0; background-size: 198.5px 173.5px; width: 91px; height: 36.5px; display: inline-block; vertical-align: middle; font-size: 0; }
}

/* ------------------------------------------------------------ *\
	I.   Generic
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */

*,
*:before,
*:after { padding: 0; margin: 0; outline: 0; box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, main { display: block; }

html,
body { height: 100%; }

html { tap-highlight-color: rgba(0,0,0,0); }

body { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none; }

img, iframe, video, audio, object { max-width: 100%; }

img { height: auto; display: inline-block; vertical-align: middle; }

b,
strong { font-weight: bold; }

address { font-style: normal; }

svg:not(:root) { overflow: hidden; }

a,
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="image"],
label[for] { cursor: pointer; }

a[href^="tel"],
button[disabled],
input[disabled],
textarea[disabled],
select[disabled] { cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner { padding: 0; border: 0; }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
a[href^="tel"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { display: none; -webkit-appearance: none; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

textarea { overflow: auto; resize: none; -webkit-overflow-scrolling: touch; overflow-scrolling: touch; }

button,
input,
optgroup,
select,
textarea { font-family: inherit; font-size: inherit; color: inherit; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }

button,
select { text-transform: none; }

table { width: 100%; border-collapse: collapse; border-spacing: 0; }

nav ul,
nav ol { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body { min-width: 320px; background: #fff; font-family: 'Lato', sans-serif; font-size: 18px; line-height: 1.5; color: #333; }

a { color: inherit; text-decoration: underline; }
a:hover { text-decoration: none; }

a[href^="tel"] { text-decoration: none; }

h1 { font-size: 42px; line-height: 1.14; font-weight: normal; }
h2 { font-size: 27px; line-height: 1.33; font-weight: 300; }
h3 { font-size: 24px; line-height: 1.13; letter-spacing: 0.02em; font-weight: 300; }
h4 { font-size: 21px; line-height: 1.29; }
h5 { font-size: 18px; line-height: 1.17; letter-spacing: 0.096em; }
h6 { font-size: 16px; line-height: 1; letter-spacing: 0.096em; }

h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: 0.75em; }

p,
ul,
ol,
dl,
table,
blockquote { margin-bottom: 1.5em; }

p { font-weight: 300; }

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child { margin-bottom: 0; }

@media (max-width: 767px) {
	body { font-size: 16px; line-height: 1.38; }

	h1 { font-size: 25px; line-height: 1.16; }
	h2 { font-size: 20px; }
	h3 { font-size: 16px; }
	h4 { font-size: 13px; }
	h5 { font-size: 12px; }
	h6 { font-size: 11px; }
}

/* ------------------------------------------------------------ *\
	Helpers
\* ------------------------------------------------------------ */

/*  Clear  */

.clear:after { content: ''; line-height: 0; display: table; clear: both; }


/*  Notext  */

.notext { white-space: nowrap; text-indent: 100%; text-shadow: none; overflow: hidden; }
.notext-old { font-size: 0; line-height: 0; text-indent: -4000px; }


/*  Hidden  */

[hidden],
.hidden { display: none; }


/*  Alignleft  */

.alignleft { float: left; }

/*  Alignright  */

.alignright { float: right; }

/*  Disabled  */

[disabled],
.disabled { cursor: default; }

@-webkit-keyframes carmove {
	0% { bottom: -1px; -webkit-transform: scale(1); transform: scale(1); }
	25% { bottom: 1px; }
	50% { bottom: -1px;  -webkit-transform: scale(.95);  transform: scale(.95); }
	75% { bottom: 1px; }
	100% { bottom: 0; -webkit-transform: scale(1); transform: scale(1); }
}

@keyframes carmove {
	0% { bottom: -1px; -webkit-transform: scale(1); transform: scale(1); }
	25% { bottom: 1px; }
	50% { bottom: -1px;  -webkit-transform: scale(.95);  transform: scale(.95); }
	75% { bottom: 1px; }
	100% { bottom: 0; -webkit-transform: scale(1); transform: scale(1); }
}

@-webkit-keyframes light {
	0% { opacity: .6; }
	50% { opacity: .4; }
	100% { opacity: .6; }
}

@keyframes light {
	0% { opacity: .6; }
	50% { opacity: .4; }
	100% { opacity: .6; }
}

/* ------------------------------------------------------------ *\
	II.  Regions
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper { position: relative; min-height: 100%; padding-bottom: 214px; overflow: hidden; }

.wrapper-artist .footer,
.wrapper-logged .footer { border-top: 1px solid #666; }

.wrapper-dark { background: #ebe9e9; }

.wrapper-artist .main-head { padding-bottom: 11px; border-bottom: 1px solid #ccc; margin-bottom: 20px; }

@media (max-width: 767px) {
	.wrapper { padding-bottom: 0; }
}

/* ------------------------------------------------------------ *\
	Container
\* ------------------------------------------------------------ */

.container {}

/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header { padding: 22px 0; background: #333; }

.header-inside { position: absolute; top: 0; left: 0; z-index: 2; width: 100%; padding: 30px 0; background: none; }

/* ------------------------------------------------------------ *\
	Main
\* ------------------------------------------------------------ */

.main { padding: 14px 0 35px; }

.main-head { position: relative; z-index: 3; padding-right: 50px; margin-bottom: 14px; color: #333; font-size: 21px; margin-bottom: 6px; }

.main-head-inner { float: left; }
.main-head-right { float: right; }

.main-head p { padding-left: 15px; margin: 0; letter-spacing: 0.061em; }
.main-head p + p { padding-top: 5px; }
.main-head p span { color: #ff6666; }
.main-head p a { display: inline-block; color: #25b7bb; font-size: 16px; line-height: 1.31; }

@media ( max-width: 1300px ) {
	.main { margin-left: 170px; padding-right: 10px; }
	.main-head > .container,
	.main-body > .container,
	.main > .container { margin: 0; width: auto; max-width: 960px; }
}

@media (max-width: 767px) {
	.main { margin-left: 0; padding-right: 0; }	
	.main-head .user { display: none; }
	.main-head { margin-bottom: 10px; }
}

/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer { position: absolute; bottom: 0; left: 0; width: 100%; z-index: 20; height: 214px; padding: 55px 0 65px; background: #333; text-align: center; }

.footer-links { margin-bottom: 10px; font-size: 11px; line-height: 1.2; color: #2badad; letter-spacing: 0.01em; }
.footer-links a { text-decoration: none; transition: color .3s; }
.footer-links a:focus,
.footer-links a:hover { color: #fff; }
.footer-links span { display: inline-block; margin: 0 6px; font-size: 7px; vertical-align: middle; }

.footer .copyright { font-size: 11px; line-height: 1.2; letter-spacing: 0.01em; color: #878787; }

@media (max-width: 767px) {
	.footer { height: auto; position: static; padding: 30px 0; }
}

/* ------------------------------------------------------------ *\
	Content
\* ------------------------------------------------------------ */

.content { padding: 35px 50px; border-radius: 6px; background: #fff; }
.content + .event-boxes { padding-top: 20px; }
.content-inner { max-width: 450px; margin: 0 auto; }

.content-head { max-width: 680px; margin: 0 auto 26px; text-align: center; }
.content-head h2 { margin: 0 0 29px; font-weight: normal; font-size: 36px; letter-spacing: 0.04em; }
.content-head h2 span { color: #51b7ba; }
.content-head h2:last-child { margin-bottom: 0; }
.content-head h4 { margin: 0; color: #333; font-weight: normal; letter-spacing: 0.04em; }

.content-head p { text-transform: uppercase; font-weight: bold; font-size: 12px; letter-spacing: 0.061em; }

@media (max-width: 1200px) {
	.content { padding: 30px; }
}

@media (max-width: 767px) {
	.content { padding: 20px; }
	.content-head { margin-bottom: 15px; }
	.content-head h2 { margin-bottom: 15px; font-size: 30px; }
}

/* ------------------------------------------------------------ *\
	Sidebar
\* ------------------------------------------------------------ */

.sidebar { position: fixed; left: 0; top: 0; bottom: 0; z-index: 5; width: 160px; padding-top: 21px; background: #333; color: #fff; text-align: center; }

.sidebar .navbar-brand { float: none; display: inline-block; width: 95px; height: 38px; margin-bottom: 17px; background-size: 98px 38px; }

.sidebar-nav { border-top: 2px solid #474646; list-style: none outside none; }
.sidebar-nav li { border-bottom: 2px solid #474646; }
.sidebar-nav a { position: relative; display: table; width: 100%; padding: 15px 16px 15px 19px; text-align: left; color: #fff; text-transform: uppercase; font-size: 13px; line-height: 1.08; text-decoration: none; background: #333; transition: all .3s; }

.sidebar-nav .active a:before,
.sidebar-nav .active a { background: #ff6666; }

.sidebar-nav a:hover { margin-left: 10px; background: #ff6666; }

.sidebar-nav a:before { position: absolute; top: 0; bottom: 0; right: 100%; width: 10px; background: #333; content: ''; transition: all .3s; }
.sidebar-nav a:hover:before { background: #ff6666; }

.sidebar-nav a:after { position: absolute; top: 0; bottom: 0; left: 100%; width: 0; background: #333; content: ''; transition: all .3s; }
.sidebar-nav a:hover:after { width: 10px; background: #ff6666; }
.sidebar-nav .active a:after { background: #ff6666; }

.sidebar-nav span { display: table-cell; vertical-align: middle; }
.sidebar-nav span ~ span { padding-left: 8px; }
.sidebar-nav-ico { width: 38px; text-align: center; }

.sidebar-nav span ~ .sidebar-nav-count { padding-left: 0; }

.sidebar-nav-count { position: absolute; left: 100%; top: 50%; z-index: 4; width: 28px; height: 28px; border: 2px solid #fff; border-radius: 50%; margin: -14px 0 0 -14px; background: #ff6666; font-family: "Arial", sans-serif; line-height: 24px; text-align: center; font-weight: bold; transition: margin-left .3s; }

.sidebar-nav a:hover .sidebar-nav-count { margin-left: -4px; }

@media (max-width: 767px) {
	.sidebar { position: relative; top: 0; left: 0; bottom: auto; padding-top: 10px; width: 100%; text-align: left; }	
	.sidebar .navbar-brand { margin-bottom: 10px; }
	.sidebar .user { float: left; margin-right: 17px; }
	.sidebar .user-avatar { margin-bottom: 0; }
	.sidebar .user .user-dropdown { margin-top: 15px; }
	.sidebar .user:hover .user-dropdown { margin-top: 6px; }

	.sidebar .navbar-toggle { margin-top: 5px; }

	.sidebar-inner { float: right; }

	.sidebar-nav { display: none; }
}

/* ------------------------------------------------------------ *\
	III. Themes
\* ------------------------------------------------------------ */

/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9000;
	top: 0;
	left: 0;
	background: rgba(255,102,102,0.9);
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 40px;
	height: 40px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(/images/cross.png) no-repeat center center;
	background-size: 40px 40px;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 30px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	    transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: 20%;
	min-height: 54px;
}

.overlay ul li a {
	font-weight: 300;
	display: block;
	color: #fff;
	transition: color 0.2s;
	text-decoration: none;
	text-transform: uppercase;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #e3fcb1;
}

/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.5s;
}

.overlay-hugeinc nav {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay-hugeinc nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}

/* ------------------------------------------------------------ *\
	Datepicker
\* ------------------------------------------------------------ */

.datepicker { padding: 0; }
.datepicker-inline { display: block !important; width: auto; padding: 19px 4px 21px; border: 1px solid #bdbdbd; border-radius: 4px; font-size: 14px; }

.datepicker table tr td.active:hover, 
.datepicker table tr td.active:hover:hover, 
.datepicker table tr td.active.disabled:hover, 
.datepicker table tr td.active.disabled:hover:hover, 
.datepicker table tr td.active:active, 
.datepicker table tr td.active:hover:active, 
.datepicker table tr td.active.disabled:active, 
.datepicker table tr td.active.disabled:hover:active, 
.datepicker table tr td.active.active, 
.datepicker table tr td.active:hover.active, 
.datepicker table tr td.active.disabled.active, 
.datepicker table tr td.active.disabled:hover.active, 
.datepicker table tr td.active.disabled, 
.datepicker table tr td.active:hover.disabled, 
.datepicker table tr td.active.disabled.disabled, 
.datepicker table tr td.active.disabled:hover.disabled, 
.datepicker table tr td.active[disabled], 
.datepicker table tr td.active:hover[disabled], 
.datepicker table tr td.active.disabled[disabled], 
.datepicker table tr td.active.disabled:hover[disabled] { background: #ec7d7c; box-shadow: inset 0 0 2px 0 #eb7372; border-color: #fff; }

.table-condensed>thead>tr>th, 
.table-condensed>tbody>tr>th, 
.table-condensed>tfoot>tr>th, 
.table-condensed>thead>tr>td, 
.table-condensed>tbody>tr>td, 
.table-condensed>tfoot>tr>td { padding: 5px 3px; border-radius: 4px; color: #000; }

.table-condensed>thead>tr>th { border-bottom: 10px solid #fff; }

.table-condensed>tbody>tr>td { border: solid #fff; border-width: 4px 0; }

.datepicker thead tr:first-child th { color: #000; text-transform: uppercase; font-weight: bold; }

.datepicker .prev,
.datepicker .next { font-family: 'Glyphicons Halflings'; font-size: 0; line-height: 0; font-weight: normal; color: #000; }

.datepicker .prev:after,
.datepicker .next:after { font-size: 10px; line-height: 1; }

.datepicker .prev:after { content: '\e257'; }
.datepicker .next:after { content: '\e258'; }

/* ------------------------------------------------------------ *\
	IV.  Modules
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Account
\* ------------------------------------------------------------ */

.account { padding-top: 22px; text-align: center; }

.account h2,
.account h1 { margin: 0; color: #333; letter-spacing: 0.061em; }

.account-head { margin-bottom: 30px; }

.account-image-outer { position: relative; display: inline-block; margin-bottom: 18px; }
.account-image { position: relative; z-index: 1; overflow: hidden; display: inline-block; width: 139px; height: 139px; border-radius: 50%; font-size: 16px; line-height: 1; color: #ff6666; }
.account-image:after { overflow: hidden; position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 1; border: 3px solid #ff6666; border-radius: 50%; content: ''; }
.account-image img { width: 100%; height: 100%; }

.account-body h4,
.account-body h3 { margin: 0; }

.account-body h3 { color: #ff6666; font-weight: bold; letter-spacing: 0.096em; text-transform: uppercase; }
.account-body h4 { font-weight: normal; color: #999; letter-spacing: 0.02em; }

.account-details { max-width: 230px; margin: 0 auto 50px; }

.account-actions p { padding-top: 25px; font-size: 12px; line-height: 1; letter-spacing: 0.04em; }
.account-actions p a { color: #51b7ba; }

.account-image-change { margin-top: -10px; font-size: 10px; line-height: 1; letter-spacing: 0.04em; text-align: center; }
.account-image-change a { color: #ff6666; }

.account-image-outer .file-upload-ico { position: absolute; bottom: -4px; right: -3px; z-index: 2; margin: 0; pointer-events: none; }

.account-image .file-upload-btn { vertical-align: top; display: block; height: 100%; width: 100%; }
.account-image .file-upload { position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 2; cursor: pointer; }
.account-image .file-upload-text { position: absolute; top: 50px; left: 18px; right: 18px; }
.account-image .file-upload-text span { display: block; font-size: 12px; text-decoration: underline; }

@media (max-width: 767px) {
	.account-details { margin-bottom: 30px; }
}

/* ------------------------------------------------------------ *\
	Article
\* ------------------------------------------------------------ */

.article h1 { margin-bottom: 28px; }

.article-about { font-weight: 300; }
.article-about .article-image { position: relative; top: -300px; left: -20px; margin: 0 00px -260px 0; }
.article-about .article-image img { width: 100%; height: auto; }
.article-about .article-image-caption { position: absolute; top: 56px; left: 50%; width: 270px; margin-left: -135px; font-size: 42px; line-height: 1; letter-spacing: 0.061em; color: #333; }
.article-about .article-image-caption em { font-family: 'Georgia', sans-serif; color: #ff6666; }

.article-video { position: relative; width: 100%; }
.article-video .ico-play { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); transition: opacity .3s; }
.article-video:hover .ico-play { opacity: .8; }

.video-margin { margin-top: 60px; margin-bottom: 40px;}


@media (max-width: 992px) {
	.article-about .article-image { top: -250px; left: -14px; margin: 0 00px -210px 0; }
}

@media (max-width: 767px) {
	.article h1 { text-align: center; color: #333; }	

	.article-about .article-image { top: -183px; left: 0px; margin-top: 0; width: 300px; margin: 0 auto -150px; }
	.article-about .article-image-caption { top: 38px; padding: 0 40px; font-size: 25px; text-align: center; }
	.video-margin { margin-top: 40px; margin-bottom: 20px;}
}

/* ------------------------------------------------------------ *\
	Artist
\* ------------------------------------------------------------ */

.artists { list-style: none outside none; margin: 0 -13px; text-align: center; font-size: 0; line-height: 0; }
.artists-alt { text-align: left; margin: 0 -3%; }
.artist { display: inline-block; width: 95px; vertical-align: top; margin: 0 12px 30px; font-size: 12px; line-height: 1.25; letter-spacing: 0.02em; text-align: center; }
.artists-alt .artist { margin: 0 2.9%; }
.artist-image { overflow: hidden; display: inline-block; width: 95px; height: 95px; border-radius: 50%; margin-bottom: 8px; }
.artist p { margin: 0; }

.artist-name { display: inline-block; text-transform: uppercase; color: #25b7bb; text-decoration: none; }
.artist-name:focus,
.artist-name:hover { text-decoration: underline; color: #25b7bb; }

.artists-title { padding-bottom: 30px; border-bottom: 3px dotted #dadada; margin-bottom: 38px; font-size: 12px; text-transform: uppercase; color: #333; letter-spacing: 0.061em; font-weight: bold; text-align: center; }

.artist-book { text-align: center; }
.artist-book h2 { margin: 0 0 10px; letter-spacing: 0.061em; }
.artist-book h2 span { color: #51b7ba; }

.artist-book .artist-image { width: 139px; height: 139px; margin-bottom: 13px; }

.artist-book .btn { padding: 0 25px; line-height: 40px; font-size: 15px; letter-spacing: 0.096em; }
.artist-book .actions { padding-top: 45px; text-align: center; }
.artist-book .actions p { padding-top: 25px; font-size: 12px; line-height: 1; letter-spacing: 0.04em; }
.artist-book .actions p a { color: #51b7ba; }

.artist-details { max-width: 400px; margin: 0 auto; }
.artist-details h4 { font-weight: bold; }
.artist-details h4 span { color: #51b7ba; }

.artist-details + .actions { padding-top: 15px; }

.artist-inner { min-height: 62px; }

.artist-actions a { display: inline-block; vertical-align: middle; }
.artist-actions a ~ a { margin-left: 6px; }

.artist-image-outer { position: relative; display: inline-block; }
.artist-price { position: absolute; right: -6px; top: 0px; width: 35px; height: 35px; border-radius: 50%; background: #ff6666; font-family: 'Arial', sans-serif; font-size: 10px; font-weight: bold; line-height: 35px; color: #fff; text-align: center; }

.artist.disabled .artist-actions { opacity: .25; pointer-events: none; }
.artist.disabled .artist-actions a { cursor: default; }

.artist-more a { position: relative; display: block; width: 100%; height: 0; padding-top: 100%; border-radius: 50%; background: #25b7bb; color: #fff; text-align: center; font-weight: bold; font-size: 36px; line-height: 1; letter-spacing: 0.02em; }
.artist-more a span { position: absolute; left: 0; width: 100%; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.artist-more a small { display: block; text-transform: uppercase; font-size: 12px; }

@media (max-width: 1200px) {
	.artists-alt .artist { margin: 0 2.4%; } 
}

@media (max-width: 992px) {
	.artists-alt .artist { margin-bottom: 20px; }
}

@media (max-width: 767px) {
	.artists-alt { text-align: center; }
	.artist-book .btn { padding: 0 15px; font-size: 14px; }
}

/* ------------------------------------------------------------ *\
	Box
\* ------------------------------------------------------------ */

.box-search { padding: 8px; background: #05060d; color: #fff; }
.box-search-body,
.box-search-head { border: 2px solid #6e6e72; }
.box-search-head + .box-search-body { border-top: 0 none; }

.box-search-head { padding: 12px; text-align: center; font-weight: bold; text-transform: uppercase; font-size: 16px; line-height: 1.38; letter-spacing: 0.096em; }
.box-search-body { padding: 29px 70px 14px; }

@media (max-width: 767px) {
	.box-search { margin: 30px -10px 0; padding: 0; }

	.box-search-head,
	.box-search-body { border-width: 2px 0; }

	.box-search-head { font-size: 11px; }
	.box-search-body { padding: 24px 12px 10px; }
}

/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn { display: inline-block; min-width: 218px; padding: 0 30px; border: 3px solid transparent; border-radius: 0; vertical-align: middle; font-size: 16px; letter-spacing: 0.096em; line-height: 49px; font-weight: bold; text-transform: uppercase; text-align: center; box-shadow: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; text-decoration: none; transition: all .3s; }

.btn:hover,
.btn:focus { box-shadow: none; }

.btn-primary:focus,
.btn-primary { border-color: #51b7ba; color: #51b7ba; background: none; }
.btn-primary:hover { border-color: #fff; color: #fff; background: none; }

.btn-secondary:focus,
.btn-secondary { padding: 0 44px; border-color: #fff; color: #fff; }
.btn-secondary:hover { color: #fff; border-color: #51b7ba; background: #51b7ba; }

.btn-fill:focus,
.btn-fill { padding: 0 34px; border-color: #51b7ba; background: #51b7ba; color: #fff; }
.btn-fill:hover { border-color: #fff; color: #fff; background: transparent; }

.btn + .btn { margin-left: 28px; }

.btn-invert:hover { border-color: #51b7ba; background: #51b7ba; color: #fff; }
.btn-fill.btn-invert:hover { background: transparent; color: #51b7ba; }

/* Mobile */

@media (max-width: 767px) {
	.btn { padding: 0 15px; border-width: 2px; min-width: 140px; line-height: 35px; font-size: 11px; }
	.btn + .btn { margin-left: 10px; }
}

/* ------------------------------------------------------------ *\
	Events
\* ------------------------------------------------------------ */

.event h2 { font-size: 36px; line-height: 1; letter-spacing: 0.061em; font-weight: normal; color: #333; }

.event ~ .event { margin-top: 77px; }

.event-reverse .event-image { text-align: right; }

.event-artists { padding-bottom: 25px; margin-bottom: 20px; background: url(/images/dot.png) repeat-x 0 bottom; }
.event-artists > h5 { margin: 0 0 21px; text-transform: uppercase; font-weight: bold; color: #333; }
.event-artists > h5 span { color: #ff6666; }

@media (max-width: 767px) {
	.event ~ .event { margin-top: 30px; }
	.event h2 { font-size: 20px; }
	.event-image,
	.event-reverse .event-image { text-align: center; } 
}

/* ------------------------------------------------------------ *\
	Event Detail
\* ------------------------------------------------------------ */


.event-detail { padding-bottom: 20px; margin-bottom: 26px; background: url(/images/dot.png) repeat-x 0 bottom; }

.event-detail-avatar { position: relative; overflow: hidden; width: 100%; height: 0; padding-top: 100%; border-radius: 50%; }
.event-detail-avatar img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.event-detail-head { overflow: hidden; margin-bottom: 20px; }
.event-detail-head h2 { float: left; margin: 0; font-size: 36px; line-height: 1.17; letter-spacing: 0.04em; font-weight: normal; }
.event-detail-head h2 small { display: inline-block; padding-left: 16px; font-size: 18px; font-weight: 300; }

.event-detail-head .list-tags { padding-top: 10px; float: right; }
.event-detail-head .list-tags li { margin-bottom: 0; }

.event-detail-content { font-size: 16px; line-height: 1.38; font-weight: 300; }
.event-detail-content p { margin-bottom: 15px; }
.event-detail-content h4 { margin: 0 0 8px; color: #333; font-weight: bold; }

.event-detail-content .actions p { margin: 0; font-size: 15px; line-height: 1.2; letter-spacing: 0.025em; font-weight: bold; }
.event-detail-content .actions a { color: #51b7ba;text-decoration: none; }

.event-detail-icons { margin-bottom: 8px; }
.event-detail-icons a { display: inline-block; vertical-align: middle;}
.event-detail-icons a ~ a { margin-left: 9px; }

.event-detail-callout { padding: 6px 14px 20px; border-radius: 3px; background: #f5f5f5; text-align: center; }
.event-detail-callout h6 { color: #333; font-weight: normal; text-align: center; }
.event-detail-callout h6 span { font-weight: bold; color: #51b7ba; }

.event-detail-price { display: inline-block; width: 66px; height: 66px; border-radius: 50%; margin-bottom: 18px; text-align: center; background: #ff6666; color: #fff; font-weight: bold; font-size: 21px; line-height: 66px; }

@media (max-width: 992px) {
	.event-detail-avatar { max-width: 250px; height: 250px; padding: 0; margin: 0 auto 20px; }
}

@media (max-width: 767px) {
	.event-detail-head h2 { float: none; font-size: 30px; }
	.event-detail-head h2 small { display: block; padding-left: 0; }

	.event-detail-head .list-tags { float: none; }

	.event-detail-content { margin-bottom: 10px; }
}

/* ------------------------------------------------------------ *\
	Event Boxes
\* ------------------------------------------------------------ */

.event-boxes { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; -webkit-align-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start; list-style: none outside none; margin-left: -1%; }

.event-box { position: relative; width: 49%; min-height: 218px; border: 2px dashed #c7c7c7; padding: 1px; border-radius: 8px; margin-bottom: 20px; margin-left: 1%; }
.event-box-fill { padding: 16px 19px; border: 0 none; background: #fff; }

.event-box.active { border-width: 3px; border-color: #25b7bb; padding: 0; }

.event-box-add { position: absolute; left: 50%; top: 50%; width: 130px; margin-left: -65px; text-align: center; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); text-decoration: none; font-weight: bold; font-size: 18px; color: #25b7bb; letter-spacing: 0.02em; }
.event-box-add span { display: block; padding-top: 9px; }
.event-box-add span i { transition: all .3s; }

.event-box-add:hover,
.event-box-add:focus { color: #25b7bb; }

.event-box-add:hover span i { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

.event-box .event-box-title { margin: 0 0 7px; font-size: 20px; font-weight: bold; line-height: 1.1; letter-spacing: 0; color: #333; }

.event-box-meta { margin-bottom: 12px; font-weight: bold; font-size: 16px; line-height: 1.38; letter-spacing: 0; color: #999; }

.event-box-actions { font-size: 14px; line-height: 1.29; color: #25b7bb; }
.event-box-actions a { display: inline-block; color: #25b7bb; }
.event-box-actions a ~ a { margin-left: 9px; }

.event-box-notifications { position: absolute; right: -10px; top: -9px; width: 40px; height: 40px; border-radius: 50%; background: #ff6666; text-align: center; line-height: 40px; color: #fff; font-size: 21px; font-weight: bold; font-family: "Arial", sans-serif; }

.event-box-past .event-box-notifications { font-size: 10px; text-transform: uppercase; line-height: 1; }

.event-box-past .event-box-notifications span { position: absolute; left: 0; top: 50%; width: 100%; text-align: center; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

.event-boxes.filter-items { margin-left: -2%; }
.event-box.filter-item { width: 23%; padding: 15px; margin-left: 2%; }

.event-box .btn { min-width: 90px; padding: 0 15px; font-size: 12px; line-height: 27px; }

.event-box.filter-item .event-box-meta,
.event-box.filter-item .list-event-details h6 { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.event-box.filter-item .actions { padding-top: 13px; }

@media (max-width: 1200px) {
	.event-box-notifications { right: -5px; top: -5px; }

	.event-boxes { margin: 0; }
	.event-box { width: 100%; margin: 0 0 20px; }
	.event-box.filter-item { width: 48%; }

	.event-box.filter-item .list-event-details h6 { line-height: 1.2; }
}

@media (max-width: 767px) {
	.event-box { min-height: 160px; text-align: center; }
	.event-box-actions { text-align: center; }

	.event-boxes.filter-items { margin: 0; }
	.event-box.filter-item { width: 100%; margin-left: 0; }
	.event-box.filter-item .event-box-meta { white-space: normal; overflow: visible; font-size: 14px; }
}

/* ------------------------------------------------------------ *\
	Filter
\* ------------------------------------------------------------ */

.filter-head { margin-bottom: 17px; font-size: 13px; color: #333; text-transform: uppercase; font-weight: bold; letter-spacing: 0.02em; }
.filter-head p { display: inline-block; margin: 0; vertical-align: top; }
.filter-head .filter-options { margin-left: 10px; }
.filter-head .filter-options a { display: inline-block; vertical-align: top; color: #51b7ba; text-transform: none; font-weight: normal; }
.filter-head .filter-options a ~ a { margin-left: 12px; }

/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */

input::-webkit-input-placeholder { color: #ccc; font-weight: 300; opacity: 1; }

input::-moz-placeholder { color: #ccc; font-weight: 300; opacity: 1; }

input:-ms-input-placeholder { color: #ccc; font-weight: 300; opacity: 1; }

input::placeholder { color: #ccc; font-weight: 300; opacity: 1; }
textarea::-webkit-input-placeholder { color: #ccc; font-weight: 300; opacity: 1; }
textarea::-moz-placeholder { color: #ccc; font-weight: 300; opacity: 1; }
textarea:-ms-input-placeholder { color: #ccc; font-weight: 300; opacity: 1; }
textarea::placeholder { color: #ccc; font-weight: 300; opacity: 1; }

input:-webkit-autofill { -webkit-text-fill-color: inherit !important; -webkit-box-shadow: 0 0 0 1000px #fff inset; }

.form-group { margin-bottom: 21px; }
.form-label { display: block; font-size: 14px; line-height: 1.3; font-weight: bold; color: #fff; text-transform: uppercase; }
.form-control { width: 100%; height: 47px; border-radius: 0px; border: 0 none; }
.form-control:focus { box-shadow: 0px 0px 10px 0 #51b7ba; }

.form-actions { padding-top: 25px; }

.form-actions p { padding-top: 25px; font-size: 12px; letter-spacing: 0.04em; }
.form-actions p a { color: #51b7ba; }

@media (max-width: 767px) {
	.form-group { margin-bottom: 11px; }
	.form-label { font-size: 10px; }
	.form-control { height: 32px; font-size: 10px; }

	.form-actions { padding-top: 14px; text-align: center; }
}

/* ------------------------------------------------------------ *\
	File Upload
\* ------------------------------------------------------------ */

.file-upload { display: inline-block; position: relative; overflow: hidden; }
.file-upload-btn { display: inline-block; }
.file-upload-input { opacity: 0; font-size: 100px; position: absolute; bottom: -10px; right: -10px; cursor: pointer; }

/* ------------------------------------------------------------ *\
	Radios
\* ------------------------------------------------------------ */

.radios { padding-top: 5px; margin-left: -25px; list-style: none outside none; }

.radios .radio { margin-left: 25px; }
.radio { display: inline-block; margin: 0; vertical-align: top; }
.radio ~ .radio { margin: 0 0 0 25px; }

.radio input { display: none; }
.radio label { position: relative; display: inline-block; padding-left: 38px; font-size: 15px; line-height: 30px; font-weight: normal; }
.radio label:before { position: absolute; left: 0; top: 0; width: 30px; height: 30px; border: 1px solid #eee; border-radius: 50%; background: #fcfcfc; content: ''; box-shadow: inset 0 1px 3px 0 #bababa; }
.radio label:after { position: absolute; left: 7px; top: 7px; width: 16px; height: 16px; border-radius: 50%; background: #fe6b57; content: ''; -webkit-transform: scale(0); -ms-transform: scale(0); transform: scale(0); transition: all .3s; }

.radio input:checked + label:after { -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }

/* ------------------------------------------------------------ *\
	Form Seach
\* ------------------------------------------------------------ */

.form-search .form-group { display: inline-block; vertical-align: middle; margin-bottom: 10px; }
.form-search .form-group ~ .form-group { margin-left: 3px; }

.form-search .form-label { display: inline-block; margin-bottom: 0; vertical-align: middle; font-weight: 300; font-size: 27px; line-height: 40px; text-transform: uppercase; cursor: default; letter-spacing: 0.096em; }
.form-search .form-controls { display: inline-block; vertical-align: middle; margin-left: 8px; }

.form-search .fs-dropdown { margin: 0; }
.form-search .fs-dropdown-selected { border: 0 none; border-radius: 0; padding-left: 7px; padding-right: 24px; background: #4e4f52; font-size: 27px; line-height: 40px; color: #fff; font-weight: bold; letter-spacing: 0.08em; }
.form-search .fs-dropdown-selected:after { width: auto; height: auto; top: 0; bottom: auto; line-height: 40px; right: 6px; font-family: 'Glyphicons Halflings'; font-weight: normal; border: 0 none; content: "\e259"; color: #f26362; font-size: 12px; }
.form-search .fs-dropdown-options { border-radius: 0; border-color: #4e4f52; }
.form-search .fs-dropdown-item { border-radius: 0; border: 0 none; background: #4e4f52; color: #fff; }

.form-search .form-actions { padding-top: 20px; text-align: center; }
.form-search .form-actions p { padding-top: 10px; }
.form-search .form-actions p a { font-size: 12px; color: #aaaaaa; font-weight: 300; letter-spacing: 0.096em; }

.form-search .form-actions .btn { font-size: 16px; line-height: 38px; }

@media (max-width: 767px) {
	.form-search .form-label { font-size: 17px; line-height: 1.18; }
	.form-search .fs-dropdown-selected { height: 24px; padding: 0 18px 0 3px; font-size: 16px; line-height: 24px; }
	.form-search .fs-dropdown-selected:after { right: 2px; line-height: 24px; }

	.form-search .form-actions .btn { font-size: 11px; line-height: 28px; }
}

/* ------------------------------------------------------------ *\
	Form Login
\* ------------------------------------------------------------ */

.form-login { max-width: 300px; margin: 0 auto; }
.form-login .form-group { margin-bottom: 23px; }
.form-login .form-label { margin-bottom: 6px; color: #333; }
.form-login .form-control { border: 1px solid #c2c2c2; border-radius: 2px; } 

.form-login .form-actions { padding-top: 15px; text-align: center; color: #51b7ba; font-size: 12px; }
.form-login .form-actions p { padding-top: 25px; letter-spacing: 0.04em; }
.form-login .form-btn { min-width: 140px; line-height: 35px; }
.form-login .form-btn:hover { border-color: #51b7ba; background: none; color: #51b7ba; }

/* ------------------------------------------------------------ *\
	Form Apply
\* ------------------------------------------------------------ */

.form-apply .form-section { padding: 30px 32px; border-radius: 6px; margin-bottom: 20px; background: #f6f6f6; }
.form-apply .form-section p { margin-bottom: 0px; font-weight: bold; font-size: 14px; line-height: 1.71; letter-spacing: 0.02em; color: #333; text-transform: uppercase; }

.form-apply .form-group { position: relative; margin-bottom: 6px; }
.form-apply .form-group-alt { margin-bottom: 15px; }
.form-apply .form-group .ico-pencil { position: absolute; right: 0; top: 19px; pointer-events: none; }
.form-apply .form-group-alt .ico-pencil { top: 2px; }
.form-apply .form-group:last-child { margin-bottom: 0; }
.form-apply .form-control { height: 60px; padding-left: 0; padding-right: 28px; background: url(/images/apply-bg.png) repeat-x 0 bottom; box-shadow: none; font-size: 24px; color: #51b7ba; font-weight: normal; }

.form-apply textarea.form-control { position: relative; height: 204px; padding-top: 0; background-position: 0 0px; background-repeat: repeat; line-height: 29px; }

.form-apply .form-control-small { height: 30px; font-size: 16px; font-weight: normal; }

.form-apply .form-control::-webkit-input-placeholder { color: #51b7ba; font-weight: normal; }

.form-apply .form-control::-moz-placeholder { color: #51b7ba; font-weight: normal; }

.form-apply .form-control:-ms-input-placeholder { color: #51b7ba; font-weight: normal; }

.form-apply .form-control::placeholder { color: #51b7ba; font-weight: normal; }

.form-apply .form-label { margin-bottom: 12px; font-size: 16px; line-height: 1.71; color: #51b7ba; font-weight: normal; text-transform: none; }

.form-apply .form-actions { text-align: center; }

.form-apply .form-controls { position: relative; }
.form-apply .form-controls .form-label { position: absolute; left: 0; top: 2px; width: 12px; margin-bottom: 0; }
.form-apply .form-controls .form-control { padding-left: 20px; }

@media (max-width: 767px) {
	.form-apply .form-control { height: 30px; font-size: 16px; }
}

/* ------------------------------------------------------------ *\
	Form Account
\* ------------------------------------------------------------ */

.form-account { max-width: 400px; margin: 0 auto; }

.form-account .form-group { position: relative; margin-bottom: 6px; }

.form-account .form-control { height: 60px; padding: 0 23px; padding-right: 28px; background: url(/images/apply-bg.png) repeat-x 0 bottom; box-shadow: none; font-size: 24px; letter-spacing: 0.02em; color: #999; font-weight: normal; text-align: center; }
.form-account .form-control::-webkit-input-placeholder { font-weight: normal; }
.form-account .form-control::-moz-placeholder { font-weight: normal; }
.form-account .form-control:-ms-input-placeholder { font-weight: normal; }
.form-account .form-control::placeholder { font-weight: normal; }
.form-account .form-control-alt { height: 30px; font-weight: bold; color: #ff6666; background: none; }
.form-account .form-group .form-control-alt + .ico-pencil { top: 10px; }

.form-account .form-group .ico-pencil { position: absolute; right: 0; top: 19px; pointer-events: none; }

.form-account .form-actions { padding-top: 40px; }
.form-account .form-actions p { padding-top: 25px; font-size: 12px; letter-spacing: 0.04em; }
.form-account .form-actions p a { color: #51b7ba; }

@media (max-width: 767px) {
	.form-account { padding: 0 10px; }
	.form-account .form-control { height: 30px; font-size: 16px; }
	.form-account .form-group .ico-pencil { top: 2px; }
}

/* ------------------------------------------------------------ *\
	Form Card
\* ------------------------------------------------------------ */

.form-card { max-width: 460px; padding-top: 14px; margin: 0 auto; }

.form-card .form-actions { text-align: center; }

@media (max-width: 767px) {
	.form-card .col-sm-6 ~ .col-sm-6 { margin-top: 20px; }
}

/* ------------------------------------------------------------ *\
	Form Alt
\* ------------------------------------------------------------ */

.form-alt .form-label { margin-bottom: 0; font-weight: bold; text-transform: uppercase; font-size: 14px; line-height: 1.71; color: #333; }
.form-alt .form-label-small { text-transform: none; }

.form-alt .form-group { margin-bottom: 20px; }

.form-alt .form-control { height: 50px; border: 2px solid #d0d0d0; border-radius: 2px; font-size: 14px; color: #333; }
.form-alt .form-control:focus { box-shadow: none; }
.form-alt .form-control::-webkit-input-placeholder { color: #ccc; }
.form-alt .form-control::-moz-placeholder { color: #ccc; }
.form-alt .form-control:-ms-input-placeholder { color: #ccc; }
.form-alt .form-control::placeholder { color: #ccc; }
.form-control-half { width: 46%; float: left; }
.form-control-half ~ .form-control-half { float: right; }

.form-control-one-third { float: left; width: 27%; }
.form-control-one-third + .form-control-one-third { margin-left: 9.5%; }
.form-control-one-third + .form-separator { width: 9.5%; }

.form-separator { float: left; width: 8%; text-align: center; line-height: 50px; font-size: 14px; }

.form-alt .fs-dropdown { margin: 0; }
.form-alt .fs-dropdown-selected { height: 50px; line-height: 46px; border: 2px solid #d0d0d0; border-radius: 2px; font-size: 14px; color: #333; }

.form-alt .fs-dropdown-selected:after { width: auto; height: auto; top: 0; bottom: auto; line-height: 50px; right: 14px; font-family: 'Glyphicons Halflings'; font-weight: normal; border: 0 none; content: "\e259"; color: #f26362; font-size: 12px; }

.form-alt .fs-dropdown-options { border-radius: 0;  }
.form-alt .fs-dropdown-item { border-radius: 0; border: 0 none; }
.form-alt .fs-dropdown-item_selected { background: #ff6666; color: #fff; }

.form-alt .form-btn { padding: 0 25px; font-size: 15px; line-height: 40px; }

/* ------------------------------------------------------------ *\
	Form Event
\* ------------------------------------------------------------ */

.form-event .form-head { padding-bottom: 8px; margin-bottom: 21px; background: url(/images/dot.png) repeat-x 0 bottom; }
.form-event .form-head h2 { margin: 0; font-size: 36px; font-weight: normal; color: #333; letter-spacing: 0.04em; }
.form-event .form-head h2 i { margin-left: 22px; }

.form-event .form-actions { padding-top: 5px; }
.form-event .form-actions p { padding-top: 16px; }

.form-event .form-actions-alt p a { display: inline-block; font-size: 16px; }
.form-event .form-actions-alt p a ~ a { display: inline-block; margin-left: 23px; }

@media (max-width: 767px) {
	.form-event .form-head h2 { font-size: 28px; line-height: 1; padding-bottom: 2px; }
}

/* ------------------------------------------------------------ *\
	Form Disabled
\* ------------------------------------------------------------ */

.form-disabled .form-body { pointer-events: none; }
.form-disabled .fs-dropdown-selected,
.form-disabled .form-control { border-color: #f6f6f6; color: #ff6666; font-weight: bold; }
.form-disabled .fs-dropdown-selected:after { opacity: .5; }

/* ------------------------------------------------------------ *\
	Form Past
\* ------------------------------------------------------------ */

.form-past .fs-dropdown-selected,
.form-past .form-control { background: #f5f5f5; border-color: #f5f5f5; box-shadow: none; }
.form-past .fs-dropdown-selected:after { opacity: 0; }

/* ------------------------------------------------------------ *\
	Fullsize
\* ------------------------------------------------------------ */

.fullsize-container { background-position: center center; background-size: cover; background-repeat: no-repeat; }

/* ------------------------------------------------------------ *\
	Intro
\* ------------------------------------------------------------ */

.intro { padding-top: 120px; }

/* ------------------------------------------------------------ *\
	Intro Landing
\* ------------------------------------------------------------ */

.intro-landing { padding: 180px 0 0px; color: #333; text-align: center; background-position: top; margin-bottom: -120px; }

.intro-landing h1 { margin-bottom: 17px; text-transform: uppercase; }

.intro-landing .intro-content { max-width: 740px; margin: 0 auto; }
.intro-landing .intro-content-inner { max-width: 570px; margin: 0 auto; }

.intro-landing .intro-content-inner + .box-search { margin-top: 157px; }

.intro-landing .intro-actions { padding-top: 15px; }


@media (max-width: 767px) {
	.intro-landing { padding: 160px 0 10px; }
	.intro-landing h1 { margin: 0; }
	.intro-landing .intro-actions { padding-bottom: 30px; }

	.intro-landing .intro-content-inner + .box-search { margin-top: 30px; }
}

/* ------------------------------------------------------------ *\
	Intro About
\* ------------------------------------------------------------ */

.intro-about { position: relative; padding: 155px 0 460px; background-position: center top; }
.intro-about .intro-content { max-width: 560px; margin: 0 auto; text-align: center; color: #fff; }
.intro-about .intro-inner { position: absolute; bottom: 0; left: 0; right: 0; text-align: center; height: 405px; } 

.intro-about .container { position: relative; }

.intro-about .intro-shape { position: absolute; right: 88px; top: 140px; width: 144px; }
.intro-about .intro-shape img { width: 100%; height: auto; }

.intro-about .intro-lines { position: absolute; left: 16%; bottom: 0; opacity: .3; display: none; }

@media (max-width: 767px) {
	.intro-about { padding-bottom: 360px; }
	.intro-about .intro-inner { height: 320px; right: -300px; }
	.intro-about .intro-shape { top: 100px; right: 20px; width: 90px; }
}

/* ------------------------------------------------------------ *\
	Intro Sky
\* ------------------------------------------------------------ */

.intro.section-sky { padding-top: 150px; text-align: center; }
.intro.section-sky h1 { margin: 0 0 10px; }
.intro.section-sky h3 { margin-top: 0; }

/* ------------------------------------------------------------ *\
	Intro Events
\* ------------------------------------------------------------ */

.intro-events { padding-top: 115px; margin-bottom: 80px; color: #fff; }
.intro-events h1 { letter-spacing: 0.061em; }

.intro-events .intro-content { position: relative; padding-top: 54px; padding-bottom: 75px; }
.intro-ipad { position: absolute; left: 41%; top: 0; right: 0; height: auto; }

.intro-events .btn { min-width: 116px; padding: 0 15px; font-size: 16px; box-shadow: 0 1px 2px rgba(0,0,0,.3); text-shadow: 0 1px 2px rgba(0,0,0,.3); }

@media (max-width: 767px) {
	.intro-events { margin-bottom: 0; }
	.intro-events .intro-content { text-align: center; }
}

.landing-ipad { position: relative; top: 70px; max-width: 700px; height: auto; margin: 0 auto;}

@media (max-width: 992px) {
	.landing-ipad { width:100%; }
}


/* ------------------------------------------------------------ *\
	Intro Faq
\* ------------------------------------------------------------ */

.intro-faq { padding: 190px 0 315px; color: #fff; text-align: center; }

.intro-faq h1 { margin: 0 0 10px; }
.intro-faq h3 { margin: 0; }
.intro-faq h3 em { color: #ff6666; }

/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */

[class^="list-"] { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	List Partners
\* ------------------------------------------------------------ */

.list-partners { max-width: 750px; margin: 0 auto; text-align: center; font-size: 0; line-height: 0; }
.list-partners:after { display: inline-block; width: 100%; content: ''; }

.list-partners li { display: inline-block; width: 25%; text-align: center; vertical-align: middle; }
.list-partners li:nth-child(4) ~ li { margin-top: 60px; }
.list-partners a { display: inline-block; }
.list-partners img { max-width: 90%; max-height: 110px; }

@media (max-width: 767px) {
	.list-partners li { width: 50%; }

	.list-partners li:nth-child(2) ~ li,
	.list-partners li:nth-child(4) ~ li { margin-top: 20px; }
}

/* ------------------------------------------------------------ *\
	LIst Tags
\* ------------------------------------------------------------ */

.list-tags { text-align: left; font-size: 0; line-height: 0; margin-left: -3px; }
.list-tags li { display: inline-block; vertical-align: top; white-space: nowrap; margin: 0 3px 11px; }
.list-tags span,
.list-tags label,
.list-tags a { display: block; margin: 0; padding: 0 5px; background: #eaeaea; font-size: 16px; line-height: 24px; color: #adadad; text-transform: capitalize; font-weight: bold; text-decoration: none; transition: all .3s; }

.list-tags input:checked + label,
.list-tags a:hover,
.list-tags .selected span,
.list-tags .selected a { background: #ff6666; color: #fff; }

.list-tags input { display: none; }

.list-tags-alt { text-align: center; padding-bottom: 15px; border-bottom: 3px dotted #dadada; margin-left: -10px; margin-bottom: 35px; }
.list-tags-alt li { margin: 0 10px 15px; }
.list-tags-alt label { padding: 0 8px; background: #e0e0e0; color: #fff; font-size: 17px; line-height: 28px; text-transform: uppercase; }
.list-tags-alt input:checked + label { background: #ff6666; color: #fff; }

/* ------------------------------------------------------------ *\
	List Details
\* ------------------------------------------------------------ */

.list-details li { overflow: hidden; margin-bottom: 10px; background: url(/images/dot.png) repeat-x; background-size: 4px 3px; background-position: left 0 bottom 6px; font-size: 21px; font-weight: 300; }
.list-details span { padding: 0 6px; background: #fff; }
.list-details span ~ span { font-weight: normal; }

.list-details .total { margin-top: -10px; background-position: left 0 bottom 27px; }
.list-details .total span { padding-top: 9px; }
.list-details .total span ~ span { width: 60px; height: 60px; padding-top: 0; border-radius: 50%; line-height: 60px; background: #ff6666; color: #fff; text-align: center; }

@media (max-width: 767px) {
	.list-details li { font-size: 16px; }
	.list-details .total { background-position: left 0 bottom 24px; }

	.list-details .total span ~ span { width: 50px; height: 50px; line-height: 50px; }
}

/* ------------------------------------------------------------ *\
	List Videos
\* ------------------------------------------------------------ */

.list-videos { max-width: 380px; font-size: 0; line-height: 0; margin-left: -2%; }
.list-videos li { display: inline-block; width: 48%; margin: 0 0 20px 2%; }
.list-videos a { display: block; }
.list-videos img { width: 100%; height: auto; }

@media (max-width: 992px) {
	.list-videos { margin: 0 auto; }
}

/* ------------------------------------------------------------ *\
	List Event Details
\* ------------------------------------------------------------ */

.list-event-details { font-size: 12px; line-height: 1.2; letter-spacing: 0.016em; color: #ccc; }
.list-event-details h6 { margin: 0 0 2px; color: #ff6666; font-weight: bold; word-wrap: break-word; letter-spacing: 0.015em; }
.list-event-details p { margin: 0 0 2px; font-weight: bold; }

.list-event-detail { margin-bottom: 15px; }
.list-event-details .event-details-price { color: #999; }

@media (max-width: 767px) {
	.list-event-details { text-align: center; }
}

/* ------------------------------------------------------------ *\
	List Bands
\* ------------------------------------------------------------ */

.list-bands { overflow: hidden; max-width: 90px; padding-top: 10px; margin-left: -6%; }

.list-bands li { float: left; width: 44%; margin: 0 0 6px 6%; }
.list-bands a { position: relative; display: block; overflow: hidden; border-radius: 50%; width: 100%; height: 0; padding-top: 100%; }
.list-bands img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.list-bands .more a { background: #999; color: #fff; font-size: 19px; font-weight: bold; }
.list-bands .more a span { position: absolute; left: 0; top: 50%; width: 100%; text-align: center; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

@media (max-width: 767px) {
	.list-bands { max-width: 100%; margin: 0 auto; text-align: center; font-size: 0; line-height: 0; }
	.list-bands li { float: none; max-width: 50px; display: inline-block; margin: 0 8px 10px; }
}

/* ------------------------------------------------------------ *\
	Modal
\* ------------------------------------------------------------ */

.modal { z-index: 9001; }
.modal-dialog { width: 620px; max-width: 100%; margin-top: 60px; }

.modal-content { border-radius: 3px; }

.modal-backdrop.in { opacity: .8; }

.modal-head { padding: 28px 0; border-bottom: 1px solid #e8e8e8; text-align: center; }
.modal-head h3 { margin: 0; font-weight: normal; }

.modal-body { padding: 35px; }

.modal-terms .modal-body { max-height: 460px; overflow-y: auto; font-size: 14px; line-height: 1.29; letter-spacing: 0.02em; color: #333; }

.modal-foot { padding: 14px 20px; border-top: 1px solid #e6e6e6; text-align: center; }
.modal-foot .btn { min-width: 140px; line-height: 36px; font-size: 16px; }

@media (max-width: 767px) {
	.modal-dialog { margin-top: 30px; margin-left: auto; margin-right: auto; }

	.modal-terms .modal-body { max-height: 300px; padding: 20px; }
}

/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.navbar-collapse { padding-top: 8px; }

.navbar { margin-bottom: 0; }
.navbar-brand { overflow: hidden; width: 130px; height: 52px; padding: 0; background: url(/images/logo.svg) no-repeat 0 0; background-size: 130px 52px; text-indent: -9999px; white-space: nowrap; }

.navbar-nav > li ~ li { margin-left: 75px; }
.navbar-nav > li > a { padding: 0; color: #fff; font-size: 18px; line-height: 32px; text-decoration: none; transition: all .3s; text-transform: uppercase; }
.navbar-nav > li.active > a,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover { background: none; text-decoration: none; color: #ff6666; }

.nav-access { border: 2px solid #51b7ba; margin-left: 80px; }
.nav-access > li ~ li { margin-left: 0; }
.nav-access > li > a { display: block; padding: 0 8px; font-size: 11px; letter-spacing: 0.096em; line-height: 28px; text-transform: uppercase; text-decoration: none; }
.nav-access > li .link-login { background: #51b7ba; color: #fff; border-right: 2px solid #51b7ba; }
.nav-access > li .link-login:focus,
.nav-access > li .link-login:hover { background: transparent; color: #51b7ba; }
.nav-access > li .link-join { padding: 0 13px; color: #51b7ba; }
.nav-access > li .link-join:hover,
.nav-access > li .link-join:focus { background: #51b7ba; color: #fff; }

@media (max-width: 992px) {
	.nav-access,
	.navbar-nav > li ~ li { margin-left: 30px; }

	.nav-access > li ~ li { margin-left: 0; }
}

@media (max-width: 767px) {
	.navbar-toggle { border-radius: 0; border: 0 none; width: 30px; height: 22px; margin-right: 20px; background: url(/images/btn-menu.png) no-repeat 0 0; background-size: 30px 22px; }
	.navbar-toggle:after { position: absolute; top: 100%; left: 0; right: 0; margin-top: 3px; content: 'menu'; font-size: 9px; text-transform: uppercase; text-align: center; color: #23adb1; }
	.navbar-toggle span { display: none; }

	.navbar-collapse { display: none !important; }

	.navbar-brand { margin-left: 20px; }
}

/* ------------------------------------------------------------ *\
	Pulses
\* ------------------------------------------------------------ */

.pulses { position: relative; padding: 0 10px; list-style: none outside none; font-size: 0; line-height: 0; text-align: center; }
.pulses:before { position: absolute; left: 50%; top: 109px; width: 528px; height: 238px; margin-left: -264px; background: url(/images/pulses.jpg) no-repeat 0 0; content: ''; }
.pulse { position: relative; display: inline-block; width: 33.33%; vertical-align: top; }
.pulse:first-child { width: 100%; margin-bottom: 11px; }

.pulse:nth-child(3) { padding-top: 62px; }

.pulse-inner { display: inline-block; }

.pulse-image { position: relative; display: inline-block; overflow: hidden; width: 96px; height: 96px; border-radius: 50%; margin-bottom: 5px; }
.pulse-image:after { position: absolute; top: 0; left: 0; right: 0; bottom: 0; border-radius: 50%; border: 3px solid #a9c6d8; content: ''; transition: border-color .3s; }
.pulse-inner:hover .pulse-image:after { border-color: #ff6161; }
.pulse-image img { width: 100%; height: 100%; }

.pulse-details { max-width: 140px; margin: 0 auto; font-size: 12px; line-height: 1.25; letter-spacing: 0.02em; color: #999; font-weight: bold; }
.pulse-details h6 { margin: 0; text-transform: uppercase; color: #a9c6d8; transition: color .3s; }
.pulse-inner:hover .pulse-details h6 { color: #ff6161; }
.pulse-details p { margin: 0; }

.section-pulses { background-color: #fff; padding-top: 190px !important;  }

@media (max-width: 992px) {
	.pulses { max-width: 528px; margin: 20px auto; }
}

@media (max-width: 767px) {
	.pulses { max-width: 300px; padding: 0; }
	.pulses:before { width: 300px; height: 135px; margin-left: -150px; background-size: 300px 135px; }

	.pulse-image { width: 66px; height: 66px; }
	.pulse-details { font-size: 10px; }

	.pulse:first-child { margin-bottom: 20px; }
	.pulse:nth-child(3) { padding-top: 35px; }
}

/* ------------------------------------------------------------ *\
	Search
\* ------------------------------------------------------------ */

.search { position: relative; float: left; width: 220px; margin-right: 18px; }

.search-field { width: 100%; height: 50px; padding: 0 9px; border: 1px solid #ccc; border-radius: 2px; background: #fff; box-shadow: none; font-size: 14px; }
.search-field::-webkit-input-placeholder { color: #ccc; }
.search-field::-moz-placeholder { color: #ccc; }
.search-field:-ms-input-placeholder { color: #ccc; }
.search-field::placeholder { color: #ccc; }

.search-btn { position: absolute; right: 14px; top: 50%; border: 0 none; color: #51b7ba; background: none; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); transition: color .3s; }
.search-btn:hover { color: #fe6a6a; }

/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

.section { padding: 70px 0; }

.section-dark { background: #333; }
.section-dark h1 { color: #fff; }

.section-head { text-align: center; }

@media (max-width: 767px) {
	.section { padding: 36px 10px; }

	.section-dark { background: #0d0007; }
}

/* ------------------------------------------------------------ *\
	Section Sign
\* ------------------------------------------------------------ */

.section-sign { padding: 64px 0 78px; background-color: #000; background-position: center top; color: #fff; }
.section-sign-alt { /*padding: 150px 0 70px;*/ background-size: cover; }
.section-sign h1 { margin-top: 0; margin-bottom: 12px; font-weight: bold; line-height: 1; letter-spacing: 0.03em; }
.section-sign-alt h1 { text-align: center; margin-bottom: 20px; }
.section-sign h3 { margin-bottom: 31px; }

.section-sign-alt .form-actions { text-align: center; }

.sign-ipad { position: relative; top: 78px; right: 0; width: 584px; height: auto; float: right; }

@media (max-width: 1180px) {
	.sign-ipad { margin-right: -100px }
}

@media (max-width: 1000px) {
	.sign-ipad { margin-right: -150px }
}

@media (max-width: 992px) {
	.sign-ipad { float: none; top: 0; margin: 0 auto; width:100%; }
	.ipad-size { float: none; width: 80%; height: auto; margin: 0 auto; }
}

@media (max-width: 767px) {
	.section-sign { padding: 35px 10px; }
	.section-sign-alt h1 { margin-bottom: 15px; }

	.section-sign-alt { background-size: cover; }
}

.iphone-size { position: relative; margin-top: -30px; float: right; max-width: 320px; }

@media (max-width: 1180px) {
	.sign-iphone { right: 10% }
}

@media (max-width: 992px) {
	.col-md-6 { width: 50%; float: left; }
	.col-xs-6 { width: 100%; }
}

@media (max-width: 767px) {
	.iphone-size { display: none; }
	.col-md-6 { width: 100%; }
	.col-xs-6 { width: 50%;}

	.section-sign { padding: 35px 10px; }
	.section-sign-alt h1 { margin-bottom: 15px; }

	.section-sign-alt { background-size: cover; }
}

@media (max-width: 480px) {
	.col-xs-6 { width: 100%;}
}

/* ------------------------------------------------------------ *\
	Section Testimonials
\* ------------------------------------------------------------ */

.section-testimonials h1 { margin: 0 0 4px 0; letter-spacing: 0.06em; }
.section-testimonials h3 { margin: 0; color: #ff6666; letter-spacing: 0.02em; }

.section-testimonials .section-head { margin-bottom: 60px; text-align: center; }

@media (max-width: 767px) {
	.section-testimonials .section-head { margin-bottom: 20px; }
}

/* ------------------------------------------------------------ *\
	Section Sky
\* ------------------------------------------------------------ */

.section-sky { padding: 62px 0 152px; position: relative; background-position: center bottom; color: #fff; }
.section-sky .container { position: relative; }

.section-sky .section-bg { position: absolute; bottom: 0; left: 0; height: 7px; width: 100%; background: url(/images/land.jpg) repeat-x 0 bottom; background-size: 505px 7px; }
.section-sky .section-bg-left { position: absolute; left: 0; bottom: 0; width: 375px; height: 129px; background: url(/images/mountain-left.png) no-repeat 0 0; background-size: 375px 129px; }
.section-sky .section-bg-right { position: absolute; right: 0; bottom: 0; width: 468px; height: 66px; background: url(/images/mountain-right.png) no-repeat 0 0; background-size: 468px 66px; }

.section-bg-car { position: absolute; left: -10%; bottom: 0; width: 392px; height: 87px; margin-left: -196px; background: url(/images/van.png) no-repeat 0 0; background-size: 392px 87px; transition: all 3s; }
.section-bg-car:before,
.section-bg-car:after { position: absolute; left: 100%; content: ''; }

.section-bg-car:before { bottom: 27px; width: 21px; height: 37px; margin-left: -17px; background: url(/images/van-light.png) no-repeat 0 0; background-size: 21px 37px; opacity: .9; }
.section-bg-car:after { bottom: -40px; width: 230px; height: 144px; margin-left: -50px; background: url(/images/light.png) no-repeat 0 0; background-size: 230px 144px; opacity: 0.6; transition: opacity 2s; }

.section-bg-car.active { left: 50%; -webkit-animation: carmove 3s linear; animation: carmove 3s linear; }
.section-bg-car.active:after { -webkit-animation: light 3s infinite linear; animation: light 3s infinite linear; }

@media (max-width: 767px) {
	.section-sky .section-bg-left,
	.section-sky .section-bg-right { display: none; }

	.section-bg-car { width: 271px; height: 60px; margin-left: -135px; background-size: 271px 60px; }
	.section-bg-car:before { bottom: 19px; width: 16px; height: 23px; margin-left: -14px; background-size: 16px 23px; }
	.section-bg-car:after { bottom: -20px; width: 140px; height: 88px; margin-left: -32px; background-size: 140px 88px; }
}

/* ------------------------------------------------------------ *\
	Section Callout
\* ------------------------------------------------------------ */

.section-callout .section-content { max-width: 590px; margin: 0 auto; text-align: center; }
.section-callout h1 { margin: 0 0 25px; letter-spacing: 0.04em; }
.section-callout h3 { margin: 0 0 40px; }

.section-callout .actions p { padding-top: 24px; font-size: 16px; letter-spacing: 0.096em; }
.section-callout .actions p a:focus,
.section-callout .actions p a:hover { text-decoration: none; color: #fff; }

/* ------------------------------------------------------------ *\
	Section Partners
\* ------------------------------------------------------------ */

.section-partners { border-bottom: 2px solid #474747; }
.section-partners .section-head { margin-bottom: 60px; text-align: center; }
.section-partners .section-head h1 { font-weight: bold; color: #999; }

@media (max-width: 767px) {
	.section-partners { background: #333; }
}

/* ------------------------------------------------------------ *\
	Section Apply
\* ------------------------------------------------------------ */

.section-apply .section-head { margin-bottom: 55px; }
.section-apply .section-head h2,
.section-apply .section-head h1 { margin: 0; color: #333; }

/* ------------------------------------------------------------ *\
	Section Artists 
\* ------------------------------------------------------------ */

.section-artists .section-head { margin-bottom: 37px; }

/* ------------------------------------------------------------ *\
	Section Events
\* ------------------------------------------------------------ */

.section-events { padding-bottom: 100px; }

@media (max-width: 767px) {
	.section-events { padding-bottom: 30px; }
}

/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */

.slider {}

.slider .slides { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	Socials
\* ------------------------------------------------------------ */

.socials { margin-bottom: 24px; text-align: center; }
.socials p { margin-bottom: 12px; font-size: 16px; line-height: 1.38; font-weight: bold; text-transform: uppercase; color: #51b7ba; }
.socials ul { overflow: hidden; display: inline-block; list-style: none outside none; }
.socials li { float: left; }
.socials li ~ li { margin-left: 20px; }
.socials-alt li ~ li { margin-left: 35px; }
.socials a { display: block; transition: all .3s; }
.socials a:hover { opacity: .7; }

/* ------------------------------------------------------------ *\
	Socials Blocks
\* ------------------------------------------------------------ */

.socials-block-head { margin-bottom: 17px; text-align: center; font-weight: bold; font-size: 14px; line-height: 1.57; letter-spacing: 0.025em; }
.socials-block-head a { text-decoration: none; color: #51b7ba; }
.socials-block-head a:hover { text-decoration: underline; }

.socials-block-icon { display: block; min-height: 50px; line-height: 50px; margin-bottom: 6px; }

/* ------------------------------------------------------------ *\
	Tabs
\* ------------------------------------------------------------ */

.tabs { position: relative; }
.tabs:before { position: absolute; top: 0; bottom: 0; left: 31.7%; width: 2px; background: #ccc; content: ''; }
.tabs-body { padding-top: 50px; transition: height .3s; }

.tab { position: absolute; left: -9999px; top: -9999px; opacity: 0; transition: opacity .3s; }
.tab.active { position: static; opacity: 1; }

.tabs-head { padding-top: 10px; }
.tabs-head h6 { margin: 0 0 14px; font-size: 14px; line-height: 1.5; text-transform: uppercase; font-weight: bold; color: #ff6666; letter-spacing: 0; }

.tabs-nav a { position: relative; display: block; margin-left: -17px; border: 2px solid transparent; border-radius: 5px 0 0 5px; padding: 12px 17px; font-size: 18px; line-height: 1.17; color: #999; text-decoration: none; transition: all .3s; }
.tabs-nav a:before,
.tabs-nav a:after { position: absolute; right: -2px; width: 2px; height: 0; background: #fff; content: ''; transition: height .3s; }

.tabs-nav a:before { top: 50%; }
.tabs-nav a:after { bottom: 50%; }

.tabs-nav .active:before,
.tabs-nav .active:after { height: 50%; }

.tabs-nav .active { border-color: #ccc; border-right-color: transparent; color: #ff6666; }

.tab { font-weight: 300; }
.tab h2 { margin: 0 0 14px; font-size: 30px; line-height: 1.2; color: #ff6666; font-weight: normal; }

@media (max-width: 767px) {
	.tabs:before { display: none; }
	.tabs-nav a:before,
	.tabs-nav a:after { display: none; }

	.tabs-nav a { border-radius: 5px; }
	.tabs-nav .active { border-right-color: #ccc; }
}

/* ------------------------------------------------------------ *\
	Table
\* ------------------------------------------------------------ */

.table {}

/* ------------------------------------------------------------ *\
	Testimonials
\* ------------------------------------------------------------ */

.testimonials { list-style: none outside none; }

.testimonial-inner { max-width: 240px; margin: 0 auto; text-align: center; }

.testimonial-image { position: relative; overflow: hidden; display: inline-block; width: 140px; height: 140px; border-radius: 50%; margin-bottom: 20px; }
.testimonial-image:after { position: absolute; left: 0; right: 0; top: 0; bottom: 0; border: 3px solid #a9c6d8; border-radius: 50%; content: ''; }
.testimonial-image img { width: 100%; height: 100%; }

.testimonial-content h4 { margin: 0; color: #ff6666; letter-spacing: 0.096em; text-transform: uppercase; }
.testimonial-content h5 { margin: 0; color: #666; font-weight: 300; }

.testimonial-author { margin-bottom: 22px; }

.testimonial-entry { padding: 0; border-left: 0 none; text-align: justify; font-style: italic; font-weight: 300; font-size: 16px; line-height: 1.19; color: #a4a4a4; }

@media (max-width: 767px) {
	.testimonials { font-size: 0; line-height: 0; text-align: center; }
	.testimonial { margin-bottom: 15px; float: none; display: inline-block; vertical-align: top; }

	.testimonial-author { margin-bottom: 10px; }
	.testimonial-entry { font-size: 12px; }
}

/* ------------------------------------------------------------ *\
	Tweets
\* ------------------------------------------------------------ */

.tweets { list-style: none outside none; border-top: 2px solid #eaeef2; }
.tweet { overflow: hidden; padding: 12px 13px 10px 16px; border-bottom: 2px solid #eaeef2; }
.tweet-avatar { float: left; overflow: hidden; width: 48px; height: 48px; border-radius: 7px; margin-right: 10px; }
.tweet-avatar img { width: 100%; height: 100%; }

.tweet-content { overflow: hidden; font-size: 16px; line-height: 1; }
.tweet-content p { margin-bottom: 10px; }

.tweet-content .tweet-author { margin: 0; font-weight: bold; font-size: 13px; line-height: 1.2; color: #333; font-size: 16px; line-height: 1.31; color: #333; }
.tweet-actions a:focus,
.tweet-author a { color: #8899a6; text-decoration: none; }
.tweet-author a:hover { text-decoration: underline; }

.tweet-actions a:focus,
.tweet-actions a { color: #51b7ba; text-decoration: none; }
.tweet-actions a:hover { text-decoration: underline; }

/* ------------------------------------------------------------ *\
	User
\* ------------------------------------------------------------ */

.user { position: relative; float: right; text-decoration: none; }
.user-avatar { position: relative; display: block; overflow: hidden; width: 39px; height: 39px; border-radius: 50%; margin: 0 auto 5px; }
.user-avatar:after { position: absolute; top: 0; left: 0; right: 0; bottom: 0; border-radius: 50%; border: 2px solid #fe6a6a; content: ''; }
.user-avatar img { width: 100%; height: 100%; }

.user-name { display: block; text-align: center; font-size: 10px; letter-spacing: 0.04em; text-transform: uppercase; color: #f26362; }

.user-dropdown { position: absolute; left: 50%; top: 100%; border: 2px solid #fe7373; border-radius: 6px; list-style: none outside none; width: 88px; margin: 0 0 0 -44px; background: #fff; opacity: 0; visibility: hidden; transition: all .3s; }
.user:hover .user-dropdown { opacity: 1; visibility: visible; margin-top: -8px; }

.user-dropdown li:first-child { position: relative; }

.user-dropdown:before,
.user-dropdown li:first-child:after { position: absolute; bottom: 100%; left: 50%; content: ''; transition: all .3s; pointer-events: none; }
.user-dropdown:before { border: 11px solid transparent; border-bottom-color: #fe7676; margin-left: -11px; }
.user-dropdown li:first-child:after { border: 9px solid transparent; border-bottom-color: #fff; margin-left: -9px; margin-top: -2px; }

.user-dropdown li ~ li { border-top: 2px solid #eae8e8; }
.user-dropdown a { display: block; padding: 10px 5px; font-size: 12px; line-height: 1.2; color: #fe6a6a; text-transform: uppercase; text-align: center; text-decoration: none; transition: all .3s; }

.user-dropdown a:focus,
.user-dropdown a:hover { background: #fe7676; color: #fff; }

.user-dropdown li:first-child:hover:after { border-bottom-color: #fe7676; }

/* ------------------------------------------------------------ *\
	Widget
\* ------------------------------------------------------------ */

.widgets { list-style: none outside none; }
