* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: url("../bg-splash.jpg") no-repeat top center;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  font-size: 16px;
  line-height: 1.7em;
  text-align: center;
}

#page {
  padding-top: 200px;
}

.container {
  width: 100%;
  padding: 0 10%;
}


/* =========================================================== */
/* LINKS
/* =========================================================== */

a {
  -webkit-transition: color 0.1s ease-in-out, text-deocration 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out, text-deocration 0.1s ease-in-out;
  -ms-transition: color 0.1s ease-in-out, text-deocration 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out, text-deocration 0.1s ease-in-out;
  transition: color 0.1s ease-in-out, text-deocration 0.1s ease-in-out;
}

a, a:visited, a:active, a:focus {
  color: #ff8c51;
}

a:hover {
  color: #ff8c51;
  text-decoration: underline;
}


/* =========================================================== */
/* HEADINGS
/* =========================================================== */

h1, h2, h3, h4, h5 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  padding: 0 0 15px;
  margin: 0;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.6em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.2em;
}

.h-primary {
  font-weight: 100;
}

.h-secondary {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.thin {
  font-weight: 100;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}


/* =========================================================== */
/* MISC ELEMENTS
/* =========================================================== */

button {
  line-height: 1.5em;
}


/* =========================================================== */
/* GENERAL LAYOUT
/* =========================================================== */

.logo {
  margin-bottom: 30px;
}

.logo img {
  display: inline-block;
  max-height: 130px;
}

.tagline {
  margin-bottom: 50px;
  font-size: 2.5em;
  line-height: 1.5em;
  font-weight: 100;
}

.call-to-action .btn {
  margin: 0 10px;
}

.bg-cover {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.bg-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.vertical-center-container {
  position: relative;
}

.vertical-center:before {
  content: ' ';
  display: inline-block;
  height: 100%;
  width: 0px;
  vertical-align: middle;
}

.vertical-center {
  display: inline-block;
  vertical-align: middle;
}


/* ============================================================== */
/* RESPONSIVE
/* ============================================================== */

/* == TRICKLE DOWN == */

/* Medium devices (desktops, 992px and up) */
@media (max-width: 1199px) {

  .container {
    padding: 0 20px;
  }

}

/* Small devices (tablets, 768px and up) */
@media (max-width: 991px) {



}

/* Custom */
@media (max-width: 850px) {

}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {

  #page {
    padding-top: 30px;
  }

  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.6em;
  }

  .logo {
    margin: 40px 0 15px 0;
  }

  .tagline {
    font-size: 1.6em;
  }

  .call-to-action .btn {
    margin: 0 0 15px 0;
    display: block;
  }

}
